<!-- AllClientsView template -->
{% extends 'clients_data/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} Все клиенты {% endblock %}

{% block table %}
  <h1>Все клиенты</h1>
    <div class="d-flex align-items-left py-5">
      <div class="col-12 mx-auto">
          <div class="row">
            <div class="col-12 text-left">
                 <div class="form-group d-grid gap-2 d-md-block">
                    <form method="GET" action="{% url 'clients_list' %}">
                        <div class="col-12 col-md-4 py-1" style="display:inline-block">
                          <input type="text" name="search" class="form-control" placeholder="Поиск" value="{{ request.GET.search }}">
                        </div>
                        <div class="col-12 col-md-2 py-1" style="display:inline-block">

                          <button type="submit" class="btn btn-primary">  Искать  </button>
                        </div>
                                        {% if request.GET.search %}
                  <div class="col-12 col-md-2 py-1" style="display:inline-block">
                    <a href="{% url 'clients_list' %}" class="btn btn-secondary">Очистить</a>
                  </div>
                {% endif %}
                    </form>
                </div>


                <div class="form-group">
                    <form method="GET" action="{% url 'clients_list' %}">
                        <div class="col-12 col-md-4 py-1" style="display:inline-block">
                            <select class="form-select form-select-sm" name="ordering">
                            <option value="name" {% if ordering == 'name' %} selected {% endif %}>По имени</option>
                            <option value="closest_visit" {% if ordering == 'closest_visit' %} selected {% endif %}>По ближайшему визиту</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-2 py-1" style="display:inline-block">
                            <button type="submit" class="btn btn-primary">Сортировать</button>
                        </div>
                        {% if request.GET.urlencode %}
                    <input type="hidden" name="search" value="{{ request.GET.search }}">
                {% endif %}
                    </form>
                </div>
            </div>
          </div>
<!-- All clients table approach START -->
            {% if clients_by_letters %}
    <div class="table-responsive">
          <table class='col-12 table table-sm table-striped table-hover' border='0' cellpadding='0' cellspacing='0'>
            <thead>
                <tr class="thead-secondary text-white">
                    <th class="text-left"><p class="h5 text-white">Имя</p></th>
                    <th class="text-left"><p class="h5 text-white">Возраст</p></th>
                    <th class="text-left"><p class="h5 text-white">Основной контакт</p></th>
                    <th class="text-left"><p class="h5 text-white">Ближайший визит</p></th>
                </tr>
            </thead>
            <tbody>
              {% for letter, clients in clients_by_letters.items %}
                              <tr>
                    <td colspan="6" class="text-left">
                        <strong>{{ letter }}</strong>
                    </td>
                </tr>
              {% for client in clients %}
                <tr>
                    <td class="text-left">
                        <a href="{{ client.get_absolute_url }}">{{ client.name }}</a>
                    </td>
                    <td class="text-left text-secondary">
                        {{ client.age|default_if_none:" - " }}
                    </td>
                    <td class="text-left text-secondary">
                        {{ client.phone_number }}
                    </td>
                    <td class="text-left text-secondary">
                        {% if closest_visits %}
                          {% with closest_visit=closest_visits|get_value:client.id %}
                            {% if closest_visit %}
                              {{ closest_visit|date:"j E Y, H:i" }}
                            {% else %}
                              Нет запланированных визитов
                            {% endif %}
                          {% endwith %}
                        {% endif %}
                    </td>
                </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
      </div>
  {% elif object_list %}
      <div class="table-responsive">
          <table class='col-12 table table-sm table-striped table-hover' border='0' cellpadding='0' cellspacing='0'>
            <thead>
                <tr class="thead-secondary text-white">
                    <th class="text-left"><p class="h5 text-white">Имя</p></th>
                    <th class="text-left"><p class="h5 text-white">Возраст</p></th>
                    <th class="text-left"><p class="h5 text-white">Основной контакт</p></th>
                    <th class="text-left"><p class="h5 text-white">Ближайший визит</p></th>
                </tr>
            </thead>
            <tbody>
              {% for client in object_list %}
                <tr>
                    <td class="text-left">
                        <a href="{{ client.get_absolute_url }}">{{ client.name }}</a>
                    </td>
                    <td class="text-left text-secondary">
                        {{ client.age|default_if_none:" - " }}
                    </td>
                    <td class="text-left text-secondary">
                        {{ client.phone_number }}
                    </td>
                    <td class="text-left text-secondary">
                        {% if closest_visits %}
                          {% with closest_visit=closest_visits|get_value:client.id %}
                            {% if closest_visit %}
                              {{ closest_visit|date:"j E Y, H:i" }}
                            {% else %}
                              Нет запланированных визитов
                            {% endif %}
                          {% endwith %}
                        {% endif %}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>

      {% else %}
        <p>Не найдено ни одного совпадения.</p>
      {% endif %}
<!-- All clients table approach END -->
    </div>
  </div>
{% endblock %}
