{% extends 'clients_data/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ client_name|title }} — выплаты {% endblock %}

{% block form %}

<div class="container-fluid">
    <div class="d-flex align-items-left py-5">
      <div class="col-12 col-md-8 mx-auto">
  <form action="" method="post" enctype="multipart/form-data">

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}
  {% for form in form.forms %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
  {% endfor %}

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}

    <h3>{{ client_name|title }}: добавление выплат</h3>

          <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.payment_date|as_crispy_field }}
      </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.pay_amount|as_crispy_field }}
      </div>

    </div>
    <p>
      <button type="submit" id="button_anchor" value="Update collection" class="btn btn-primary w-100 mb-3">Сохранить</button>
    </p>
  </form>
      </div>
    </div>
  </div>
{% endblock %}
