{% extends 'clients_data/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} Все клиенты {% endblock %}

{% block table %}
<h1>Все клиенты</h1>
  <div class="container-fluid">
    <div class="d-flex align-items-left py-5">
      <div class="col-12 col-md-8 mx-auto">
{% for client in object_list %}
           <hr>
    <p class="h4 text-left"><a href="{{ client.get_absolute_url }}">{{ client.name }}, {{ client.age|default_if_none:" - " }}: {{ client.phone_number }}.

            {% with closest_visit=closest_visits|get_value:client.id %}
                {% if closest_visit %}
                    {{ closest_visit }}
                {% else %}
                    Нет запланированных визитов
                {% endif %}
            {% endwith %}
</a>
    </p>
{% empty %}
    <p class="h4">Пока клиентов нет.</p>
           <hr>
{% endfor %}
</div>
    </div>
  </div>

{% endblock %}