{% extends 'clients_data/base.html' %}
{% block title %} Архив визитов {% endblock %}

{% block content %}
  <h1>Завершенные визиты</h1>
  <div class="container-fluid">
    <div class="d-flex align-items-left py-5">
      <div class="col-12 mx-auto">
          <div class='col-12 tab'>
    <table class='col-12' border='0' cellpadding='0' cellspacing='0'>
            <thead class='days'>
                <tr>
                    <th class="p-2">Имя</th>
                    <th class="p-2">Возраст</th>
                    <th class="p-2">Дата визита{{ date|date:"j E" }}</th>
                    <th class="p-2">Время визита</th>
                    <th class="p-2">Тип массажа</th>
                    <th class="p-4">Цена</th>
                </tr>
            </thead>

        <tbody>
        {% for visit in completed_visits %}
        <tr>
            <td class="text-left py-1 px-3">
                <a href="{{ visit.client.get_absolute_url }}">{{ visit.client.name }}</a>
            </td>
            <td class="py-1 px-3 text-secondary">
                {{ visit.client.age|default_if_none:" - " }}</td>
            <td class="text-left py-1 px-3 text-secondary">
                {{ visit.visit_date }}
            </td>
            <td class="text-left py-1 px-3 text-secondary">
                {{ visit.visit_time }}
            </td>
            <td class="text-left py-1 px-3 text-secondary">
                {{ visit.massage_type|default_if_none:" - " }}</td>
            </td>
            <td class="text-left py-1 px-3 text-secondary">
                {{ visit.visit_price }} сом
            </td>
        </tr>

        {% empty %}
        <p class="h4">Пока нет завершенных визитов.</p>
               <hr>
        {% endfor %}

        </tbody>

        </table>


    {% for visit in completed_visits %}
           <hr>
        <p class="h4 text-left"><a href="{{ visit.client.get_absolute_url }}">{{ visit.client.name }}, {{visit.client.age|default_if_none:" - " }}: {{ visit.visit_date }} | {{ visit.visit_time }} ({{ visit.massage_type }}, {{ visit.visit_price }} cом)</a></p>
    {% empty %}
    <p class="h4">Пока нет завершенных визитов.</p>
           <hr>
    {% endfor %}
</div>
    </div>
  </div>
{% endblock %}
