{% extends 'clients_data/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} Расписание {% endblock %}

{% block table %}
<div class='col-12 tab'>
    <table class='col-12' border='0' cellpadding='0' cellspacing='0'>
        <thead class='days'>
            <tr>
                <th class="p-1"></th> <!-- Empty header for spacing -->
                {% for date in dates %}
                    <th class="p-1">{{ date|date:"j E" }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
        {% for row in timetable %}
            <tr>

                {% for item in row %}
                {% if forloop.first %}
                <td class="p-1 primary-cell">{{ item }}</td>
                {% else %}
                <td class="p-1 text-primary {% if item.client %} pale {% endif %}"><a href="{{ item.client.get_absolute_url }}">{{ item.client.name|default_if_none:" " }}</a></td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
<!--            <tr>{% for row in timetable %}-->
<!--            <td class="p-1 primary-cell">{{ row.0 }}</td>-->
<!--                <td class="p-1 text-primary {% if row.1.client %} pale {% endif %}"><a href="{{ row.1.client.get_absolute_url }}">{{ row.1.client.name|default_if_none:" " }}</a></td>-->
<!--                <td class="p-1 text-primary {% if row.2.client %} pale {% endif %}"><a href="{{ row.2.client.get_absolute_url }}">{{ row.2.client.name|default_if_none:" " }}</a></td>-->
<!--                <td class="p-1 text-primary {% if row.3.client %} pale {% endif %}"><a href="{{ row.3.client.get_absolute_url }}">{{ row.3.client.name|default_if_none:" " }}</a></td>-->
<!--                <td class="p-1 text-primary {% if row.4.client %} pale {% endif %}"><a href="{{ row.4.client.get_absolute_url }}">{{ row.4.client.name|default_if_none:" " }}</a></td>-->
<!--                <td class="p-1 text-primary {% if row.5.client %} pale {% endif %}"><a href="{{ row.5.client.get_absolute_url }}">{{ row.5.client.name|default_if_none:" " }}</a></td>-->
<!--                <td class="p-1 text-primary {% if row.6.client %} pale {% endif %}"><a href="{{ row.6.client.get_absolute_url }}">{{ row.6.client.name|default_if_none:" " }}</a></td>-->
<!--                <td class="p-1 text-primary {% if row.7.client %} pale {% endif %}"><a href="{{ row.7.client.get_absolute_url }}">{{ row.7.client.name|default_if_none:" " }}</a></td>-->
<!--                <td class="p-1 text-primary {% if row.8.client %} pale {% endif %}"><a href="{{ row.8.client.get_absolute_url }}">{{ row.8.client.name|default_if_none:" " }}</a></td>-->
<!--                <td class="p-1 text-primary {% if row.9.client %} pale {% endif %}"><a href="{{ row.9.client.get_absolute_url }}">{{ row.9.client.name|default_if_none:" " }}</a></td>-->
<!--                <td class="p-1 text-primary {% if row.10.client %} pale {% endif %}"><a href="{{ row.10.client.get_absolute_url }}">{{ row.10.client.name|default_if_none:" " }}</a></td>-->
<!--            </tr>-->

<!--            {% endfor %}-->
        </tbody>
    </table>
</div>

{% endblock %}