{% extends 'clients_data_per_visit/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ object.name|title}} {% endblock %}

{% block client_details %}
    <div class="col-12 team-item text-left align-items-center">
        <div class="row g-0 bg-light rounded overflow-hidden">
            <div class="col-12 col-md-5 h-100 d-flex flex-column p-4">
                <h3 class="mb-4 mt-4">{{ object.name }}, {{ object.sex }}, {{ object.age|default_if_none:"-" }}</h3>
                <h5 class="fw-normal text-primary mb-1">Телефон: <span class="text-secondary">{{ object.phone_number }}</span></h5>
                <h5 class="fw-normal text-primary mb-1">Дополнительный контакт: <span class="text-secondary">{{ object.another_contact }} {% if not object.another_contact %} ---------- {% endif %}</span></h5>
                <p><a href="{% url 'client_update' pk=object.pk name=object.name %}" role="button" class="btn btn-primary w-45 mb-3 mt-3">Изменить данные</a></p>
            </div>

            <div class="col-12 col-md-7 h-100 d-flex flex-column">
                <div class="d-flex mt-auto border-top px-4 py-5">
                    <span><h5>Жалобы и заболевания: </h5>{{ object.illnesses }} {% if not object.illnesses %} ---------- {% endif %}</span>
                </div>
            </div>
            <div class="col-12 h-100 d-flex flex-column">
                <div class="d-flex mt-auto border-top p-4">
                    <span><h5>Дополнительная информация: </h5>{{ object.more_info }} {% if not object.more_info %} ---------- {% endif %}</span>
                </div>
            </div>
            <div class="col-12 h-100 d-flex flex-column">
            <div class="d-flex mt-auto border-top p-4">
                <span><h5>Предстоящие визиты: </h5>
                    {% for visit in object.visit_client.all %}
                    {% if not visit.completed %}
                    <hr>
                        <div class="mt-2">{{ visit.visit_date }}, {{ visit.visit_time }}</div>
                        <div>{{ visit.massage_type }}: {{ visit.visit_price }}</div>
                    <div>Предоплачено: {{ visit.prepayment }}</div>
                    {% if visit.more_info %}
                    <div><p class="fa fa fa-paperclip"></p>  {{ visit.more_info }}</div>
                    {% endif %}
                    {% endif %}
                    {% empty %}
                        <p>Нет назначенных визитов</p>
                    {% endfor %}

                </span>
            </div>
        <div class="col-12 align-items-center text-center"> <p>
        <a href="{% url 'client_visits_edit' pk=object.pk name=object.name %}" role="button" class="btn btn-primary w-45 mb-3">Изменить визиты</a>
    </p></div>
            </div>
            <div class="col-12 col-sm-12 h-100 d-flex flex-column">
            <div class="d-flex mt-auto border-top p-4">
                <span><h5>К оплате: </h5>
                    <hr>
                        <div class="mt-2">{{ remaining_payments }} сом</div>
                </span>
            </div>
            <div class="d-flex mt-auto border-top p-4">
                <span><h5>Баланс: </h5>
                    <hr>
                        <div class="mt-2">{{ client.balance }} сом</div>
                </span>
            </div>

            </div>
            </div>
        </div>

       <div class="col-12 col-md-4 align-items-right text-right mt-5 p-5"> <p>
        <a href="{% url 'clients_list' %}" role="button" class="btn btn-secondary w-100">Обратно в список клиентов</a>
    </p></div>
{% endblock %}
